{% extends 'base.html' %}

{% block content %}
<h2>{{ group.name }}</h2>
<br>
======================================
<br>
{% for color in colors %}
    <a href="{% url 'shirts:shirts_detail' group.slug color %}"><button type="radio">{{ color }}</button></a>
{% endfor %}
<br>
<!-- radio button materials -->
{% for material in materials %}
    <label for="material">{{ material.material }}</label>
    <input type="radio" name="material">
{% endfor %}
<br>
<!-- radio button sizes -->

<br>
======================================
<br>
Price: ${{ shirt.price }}
{% endblock %}



