{% extends 'base.html' %}

{% block content %}
{{ shirt.title }}
<br>
======================================
<br>
{% for color in colors %}
    <a href="{{ shirt.get_absolute_url }}"><button type="radio">{{ color }}</button></a>
{% endfor %}
<br>
<!-- radio button materials -->
<!-- radio button sizes -->

{% for size in sizes %}
    <a href="{% url 'shirts:shirts_detail' shirt.id %}">{{ size }}</a>
{% endfor %}
<br>

{% for material in materials %}
    <a href="{% url 'shirts:shirts_detail' shirt.id %}">{{ material }}</a>
{% endfor %}

<br>
======================================
<br>
Price: ${{ shirt.price }}
{% endblock %}



