body {
    /*display: block;
    content: "";
    clear: both;*/
    margin: 0;
    /*border: 1px dashed red;*/
}

.header {
    width: 100%;
    height: 80px;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.content {
    border: 1px dashed blue;
}