
.cart-container {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
}

.cart-container li {
    float: left;
    width: 70%;
    border: 1px dashed red;
}

.cart-container li:last-child {
    width: 29%;
    border: 1px dashed pink;
}
