{% extends 'market/base.html' %}

{% block content %}
{% for product in products %}
    <div>
        <a href="{% url 'market:prods_detail' cname product.id %}">{{ product.title }}</a>
        <br>
        <form action="." method="POST">
            {% csrf_token %}
            <!-- <label for="pid">Add to Cart</label>
            <input type="submit" name="pid" value="{{ product.id }}"> -->
            <button type="submit" name="pid" value="{{ product.id }}">Add to Cart</button>
        </form>
        
    </div>
    
    <br>
{% endfor %}
{% endblock %}